@keyframes test {
  @from {
    background: linear-gradient(to left, red, blue);
    transform: translateY(50%);
  }

  @to {
    transform: translateY(10%);
    filter: blur(10);
  }
}

:fullscreen {
  animation: test;
  display: flex;
}

body::after {
  content: 'Hello world!';
}
